body {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    background: linear-gradient(to right, green, white);
}

h1, h3 {
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
}

h3 {
    letter-spacing: 0.01em;
}